<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TGIF House</title>
    <link rel="icon" href="./assets/usa-logo.png">
    <link rel="stylesheet" href="./styles/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>
  <body class="d-flex flex-column justify-content-between vh-100" id="house">
    <div id="app">
      <header>
        <div class="jumbotron jumbotron-fluid" id="header-jumbotron">
          <img src="./assets/usa-logo.png" id="congress-logo"/>
          <div class="container">
            <h1 class="display-4" id="tgif-title">
              TGIF
            </h1>
          </div>
          <a href="mailto:info@tgif.com" id="tgif-email-logo">
            <img src="./assets/sobre-icono.png" id="logo-email"/></a>
          <a href="mailto:info@tgif.com" id="email">info@tgif.com</a>
        </div>
      </header>
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
          <a href="#" class="navbar-brand"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="index.html" class="nav-link" aria-current="page">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a href="dropdown" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">113th Congress</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a href="./senate.html" class="dropdown-item">Senate</a>
                  </li>
                  <li>
                    <a href="./house.html" class="dropdown-item">House</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Attendance</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a href="./senate-attendance.html" class="dropdown-item">Senate</a>
                  </li>
                  <li>
                    <a href="./house-attendance.html" class="dropdown-item">House</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Party Loyalty</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a href="./senate-party-loyalty.html" class="dropdown-item">Senate</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">House</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row">
            <div class="col-7 p-2">
                <h2 class="mb-3 bTitle">Party Loyalty</h2>
                <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
            </div>
            <div class="col-5 d-flex flex-column align-items-end p-2">
                <h2 class="mb-3 tabTitle">House at a glance</h2>
                  <table class="table table-hover mw-100 table-striped table-light">
                    <thead class="table-dark">
                      <tr>
                        <th>Party</th>
                        <th>N° of Reps</th>
                        <th>% Voted with Party</th>
                      </tr>
                    </thead>
                    <tbody id="percentTable">
                      <tr>
                        <th>Democrats</th>
                        <th>{{statistics.democratsN}}</th>
                        <th>{{statistics.averageVotesDemo}}</th>
                      </tr>
                      <tr>
                        <th>Republicants</th>
                        <th>{{statistics.republicansN}}</th>
                        <th>{{statistics.averageVotesRepu}}</th>
                      </tr>
                      <tr>
                        <th>Indepedents</th>
                        <!--<th v-html="statistics.indepedentsN"></th>
                        <th v-html="totalPercent(this.statistics.indepedents)"></th>-->
                        <th>{{statistics.independentsN}}</th>
                        <th>{{statistics.independentsN}}</th>
                      </tr>
                      <tr>
                        <th>Total</th>
                        <th>{{statistics.total}}</th>
                        <th>{{(statistics.averageVotesTotal).toFixed(2)}}</th>
                      </tr>
                    </tbody>
                  </table>    
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 p-2 table-responsive">
                <table class="table table-hover table-striped table-light">
                    <h2 class="mb-2 tabTitle">Least Loyal (Bottom 10%)</h2>
                    <thead class="table-dark">
                        <th>Name</th>
                        <th>N° of Party Votes</th>
                        <th>% Party Votes</th>
                    </thead>
                    <!--Math.ceil(((member.total_votes - member.missed_votes)*member.votes_with_party_pct)/100)-->
                    <tbody id="leastLoyal">
                      <tr v-for="member in statistics.leastLoyals">
                        <td><a v-bind:href="member.url">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                        <td>{{Math.ceil(((member.total_votes - member.missed_votes)*member.votes_with_party_pct)/100)}}</td>
                        <td>{{member.votes_with_party_pct}}</td>
                      </tr>
                    </tbody>
                </table> 
            </div>
            <div class="col-6 p-2 table-responsive">
                <table class="table table-hover table-striped table-light">
                    <h2 class="mb-2 tabTitle">Most Loyal (Top 10%)</h2>
                    <thead class="table-dark">
                        <th>Name</th>
                        <th>N° of Party Votes</th>
                        <th>% Party Votes</th>
                    </thead>
                    <tbody id="mostLoyal">
                      <tr v-for="member in statistics.mostLoyals">
                        <td><a v-bind:href="member.url">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                        <td>{{Math.ceil(((member.total_votes - member.missed_votes)*member.votes_with_party_pct)/100)}}</td>
                        <td>{{member.votes_with_party_pct}}</td>
                      </tr>
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
    <footer class="d-flex mt-3 p-3 justify-content-center align-items-center" id="footer">© 2021 TGIF | All Rights Reserved</footer>
  </div>
    <script src="./data/js/bootstrap.bundle.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <!--<script src="data/113-house.js"></script>-->
    <script src="data/vue-main.js"></script>
    <!--<script src="data/main.js"></script>-->
  </body>
</html>